@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Home/Index</h1>

    <a href="/Account/SignIn" class="btn btn-primary">Giriş Yap</a>
    <a href="/Identity/Register" class="btn btn-success">Kayıt Ol</a>
</div>