
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <section class="container">
        @RenderBody()
    </section>
</body>
</html>
